.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bill-input-container, .service-input-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}